// This file contains the style for the Character Panel

.characterPanel{
  background-color: navy;
  border: 3px solid rgb(0, 0, 202);
  border-radius: 20px;
  color: white;
  cursor: pointer;
  display: flex;
  flex-basis: 30%;
  flex-grow: 1;
  height: 40%;
  margin: 1.5%;
  
  &:hover,:focus{
    border: 3px solid aqua;
  }

  &__media{
      width: 30%;
      margin: 1.5%;

    &__name{
      text-align: center;
      margin: 0;
    }
  
    &__picture{
      display: block;
      width: 100%;
    }
  }

  &__info{
    width: 70%;
    margin: 1.5%;

    &__subtitle{
      text-align: center;
      margin: 0;
    }

    &__discription{
      font-size: 1em;
      color: gold;
    }
  }


}