// This file contains the style for the Character Panel

.characterPanel{
  display:       grid;
  justify-items: end;
  align-items:   center;
  grid-template-rows: 20% 10% 30% 10% 30%;
  grid-template-columns: 35% 65%;
  grid-template-areas: 
    "character abilities"
    "image     strength"
    "image     str-discription"
    "image     weakness"
    "image     weak-discription";

  .character{
    grid-area: character;
    justify-self: center;
  }
  .image {
    grid-area: image;
    justify-self: center;
  }
  .abilities{
    grid-area: abilities;
    justify-self: center;
  }
  .strength{
    grid-area: strength;
  }
  .str-discription{
    grid-area: str-discription
  }
  .weakness{
    grid-area: weakness
  }
  .weak-discription{
    grid-area: weak-discription
  }
  .discription, .subtitle {
    text-align: end;
  }
}

