.loader {
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.cutscenePlayer{
  width: 100%;
  height: 100%;
  background-color: black;
}

.skipButton{
  position: fixed;
  right: 0;
  bottom: 0;
  width: 15% !important;
  font-size: 1em !important;
  border-radius: 0 !important;
  border-style: none !important;
  margin: 0 !important;
  text-decoration: underline;
  background-color: rgb(36, 36, 36);
  color: rgb(199, 199, 199);
}
