
@media only screen and (min-width: 1080px) {
  // Set's the background image for the game to the menu screen image
  #app{
    background-image: url('../../assets/backgrounds/mainScreen.png');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
  }

  // This positions and styles the splash screen menu
  .splash {  
    background-color: navy;
    border: 1px solid black;
    border-radius: 20px;
    color: white;
    opacity: .7;
    padding: 20px;
    text-align: center;

    &__title {
      font-size: 3em;
      margin: 0;
    }

    &__subtitle {
      font-size: 2em;
    }

    &__button {
      background-color: black;
      border: solid white;
      border-radius: 20px;
      color: white;
      cursor: pointer;
      font-size: 3em;
      width: 80%;

      &__text{
        margin: 10px;
      }
    }
  }
}